body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background:url('https://fullhdoboi.ru/wp-content/uploads/_ph/6/912351086.jpg') no-repeat ;
  background-size: cover; */
  background: rgb(45, 128, 131);
  background: rgb(26, 116, 119);
   /* background: #939CB0;
  background: #4F667A; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul, li {
  display: block;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color:#fff;
}
.not_found {
  color: red;
}
.br {
  border:1px solid red
}
